<form name="settingsAboutForm" settings-about-form class="row">
  <fieldset class="col col--oneOfTwo col--noPadding">
    <bg-form-error></bg-form-error>
    <label>Name</label>
    <div class="inputText">
      <input type="text" data-ng-model="settings.name.full" placeholder="Full Name" class="inputText-input" bg-focus-when="true" bg-input-validator>
      <div class="inputText-verification inputText-verification--unverified" ng-show="nameError">Need name</div>
    </div>
    <label>Email Address</label>
    <div class="inputText--readonly">
      <input type="email" placeholder="Email Address" class="inputText-input" ng-model="settings.email.email" readonly="readonly" disabled>
    </div>
    <label>Timezone</label>
    <div class="formRow">
      <div class="customSelect">
        <span class="customSelect-text">{{ settings.timezoneDisplay }}<i class="icon icon--arrowSmallDown"></i></span>
        <bg-timezone-select settings="settings"></bg-timezone-select>
      </div>
    </div>
    <button ng-show="hasChanges()" class="button buttonSubmit" type="submit" name="saveAboutForm" ng-click="saveAboutForm()">Save Changes</button>
  </fieldset>
</form>
