<div bg-state-manager>
  <section class="masthead">
    <div class="contentWrapper">
      <div class="row">
        <div class="col col--noPadding">
          <h1 class="masthead-heading">Account Settings</h1>
        </div>
      </div>
      <div class="row">
        <div class="col col--noPadding">
          <nav>
            <ul class="sectionNav">
              <li class="sectionNav-item"><a ng-click = "setState('about')" class="sectionNav-link" ng-class="{ 'is-selected': showState('about') }">About Me</a></li>
              <li class="sectionNav-item"><a ng-click = "setState('phone')" class="sectionNav-link" ng-class="{ 'is-selected': showState('phone') }">Phone</a></li>
              <li class="sectionNav-item"><a ng-click = "setState('password')" class="sectionNav-link" ng-class="{ 'is-selected': showState('password') }">Password</a></li>
              <li class="sectionNav-item"><a ng-click =  "setState('notification')" class="sectionNav-link" ng-class="{ 'is-selected': showState('notification') }">Notifications</a></li>
              <li class="sectionNav-item"><a ng-click = "setState('currency')" class="sectionNav-link" ng-class="{ 'is-selected': showState('currency') }">Currencies</a></li>
              <li class="sectionNav-item"><a ng-click = "setState('developers')" class="sectionNav-link" ng-class="{ 'is-selected': showState('developers') }">Developers</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <main class="mainContent contentWrapper">
    <div ng-show="showState('about')">
      <ng-include src="'settings/templates/about.html'"></ng-include>
    </div>
    <div ng-show="showState('phone')">
      <ng-include src="'settings/templates/phone.html'"></ng-include>
    </div>
    <div ng-show="showState('password')">
      <ng-include src="'settings/templates/password.html'"></ng-include>
    </div>
    <div ng-show="showState('notification')">
      <ng-include src="'settings/templates/notification.html'"></ng-include>
    </div>
    <div ng-show="showState('currency')">
      <ng-include src="'settings/templates/currency.html'"></ng-include>
    </div>
    <div ng-show="showState('developers')">
      <ng-include src="'settings/templates/developers.html'"></ng-include>
    </div>
  </main>
</div>
