<div>
  <section>
    <div class="hero">
      <div class="contentWrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>BitGo Pricing</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper">
        <div class="row">
          <table class="pricingTable">
            <tr>
              <th width="16%"></th>
              <th width="16%" class="pricingTable-h2">For</th>
              <th class="pricingTable-h1" colspan="4">For Businesses</th>
            </tr>
            <tr class="pricingTable-header">
              <th width="16%" class="pricingTable-h2">Plan</th>
              <th width="16%" class="pricingTable-h2">Individuals</th>
              <th width="16%" class="pricingTable-h2">Basic</th>
              <th width="16%" class="pricingTable-h2">Silver</th>
              <th width="16%" class="pricingTable-h2">Gold</th>
              <th width="16%" class="pricingTable-h2">Platinum</th>
            </tr>
            <tr>
              <td class="pricingTable-label">Minimum Monthly Fee</td>
              <td>$0</td>
              <td>$0</td>
              <td>$0</td>
              <td>$0</td>
              <td>$0</td>
            </tr>
            <tr>
              <td class="pricingTable-label">Minimum Monthly BTC holdings<sup>1</sup></td>
              <td>n/a</td>
              <td>$0</td>
              <td>$100,000</td>
              <td>$1,000,000</td>
              <td>$10,000,000</td>
            </tr>
            <tr>
              <td class="pricingTable-label">Operational wallet<sup>2</sup> monthly fees</td>
              <td>Free</td>
              <td>0.02%</td>
              <td>0.02%</td>
              <td>0.02%</td>
              <td>0.02%</td>
            </tr>
            <tr>
              <td class="pricingTable-label">Cold wallet<sup>3</sup> monthly fees</td>
              <td>0.01%</td>
              <td>0.01%</td>
              <td>0.01%</td>
              <td>0.01%</td>
              <td>0.01%</td>
            </tr>
            <tr>
              <td class="pricingTable-label">Included admins<sup>4</sup></td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>5</td>
              <td>unlimited</td>
            </tr>
            <tr>
              <td class="pricingTable-label">Fees per add'l admin</td>
              <td>Contact us to upgrade</td>
              <td>$50</td>
              <td>$35</td>
              <td>$20</td>
              <td>$0</td>
            </tr>
            <tr>
              <td class="pricingTable-label">Funded wallets<sup>5</sup> included</td>
              <td>250</td>
              <td>1,000</td>
              <td>2,500</td>
              <td>5,000</td>
              <td>10,000</td>
            </tr>
            <tr>
              <td class="pricingTable-label">Fees per add'l wallet</td>
              <td>Contact us to upgrade</td>
              <td>$0.04</td>
              <td>$0.03</td>
              <td>$0.02</td>
              <td>$0.01</td>
            </tr>
            <tr>
              <td class="pricingTable-label">Support and training</td>
              <td>Online help center</td>
              <td>Email</td>
              <td>Email</td>
              <td>Email w/ priority response</td>
              <td>Dedicated account manager</td>
            </tr>
            <tr>
              <td class="pricingTable-label">Integration support</td>
              <td>n/a</td>
              <td>Contact us</td>
              <td>Contact us</td>
              <td>Contact us</td>
              <td>Contact us</td>
            </tr>
          </table>
        </div>
        <div class="row pricingTable-label">
          <sup>1</sup>
          <span class="pricingTable-footnote">Monthly holdings</span>
          is the average value of BTC held in wallets created by you or your end users, calculated hourly.
        </div>
        <div class="row pricingTable-label">
          <sup>2</sup>
          <span class="pricingTable-footnote">Operational wallets</span>
          are for day-to-day use; they have 2 operational keys and 1 cold key.
        </div>
        <div class="row pricingTable-label">
          <sup>3</sup>
          <span class="pricingTable-footnote">Cold wallets</span>
          are for long-term storage; they have 1 operational key and 2 cold keys.
        </div>
        <div class="row pricingTable-label">
          <sup>4</sup>
          <span class="pricingTable-footnote">Admins</span>
          are users who can set policies and approve spending.
        </div>
        <div class="row pricingTable-label">
          <sup>5</sup>
          <span class="pricingTable-footnote">Funded wallets</span>
          are defined as wallets you create for yourself or end users with at least 0.001 BTC deposited.
        </div>
      </div>
    </div>
  </section>

</div>
